@import 'tailwindcss';

@layer base{
       body{
              font-family: Inter,serif;
       }
       @font-face {
              font-family: Inter;
              src: url(../fonts/Inter/Inter-VariableFont_opsz\,wght.ttf);
       }
}

@layer utilities{
       .row{
              @apply flex flex-wrap w-full
       }
}

@layer components{
       .card{
              @apply flex flex-wrap  h-[450px]  lg:h-[350px] *:w-full w-full;
              
       }
       .blurredCaption{
              @apply absolute bottom-[5%] p-4 left-[5%] h-[150px] w-[90%] flex  text-[20px] text-white backdrop-blur-[5px] bg-black/60 flex-wrap content-between rounded;
       }
       .image{
              @apply w-full h-3/4 xl:w-full object-cover rounded mb-3.5;

       }

      
}

@theme{
       --animate-scroll: scroll 10s linear infinite;
       @keyframes scroll{
              from{
                     transform:translateX(0);
              }
              to{
                     transform:translateX(-100%);
              }
       }
}
